*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #1d2d3c;
}

header{
    background-color: #191414;
}

header img{
    width: 50px;
}

.btn{
    color: white;
    border: 1px solid white;
    width: 32px;
    height: 28px;
    line-height: 0px;
}

.mycard{
    min-height: 350px;
    background-color: #112030;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.selected{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(21, 21, 25, 0.9);
}

.selected-card{
    width: 500px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;

}

.mycard .img-container{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.button{
    position: absolute;
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}